[submodule "bcalm2"]
	path = bcalm2
	url = https://github.com/GATB/bcalm
[submodule "blight"]
	path = blight
	url = https://github.com/Malfoy/Blight.git
	branch = blight_reindeer
[submodule "bct"]
	path = bct
	url = https://github.com/Malfoy/BCT.git
